@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

.tutorial {
    margin: 0;
    padding: 0% 5%;
    font-family: 'Chakra Petch', sans-serif;
    position: absolute;
    /* align-items: center;
    justify-content: center; */
    /* width: 80%; */
    color: #c2c2c2df;
    /* text-shadow: 0 0 15px rgb(255, 255, 255); */
    left: 50%;
    transform: translateX(-50%);
    /* bottom: 3%; */
    /* height: 10%; */
    /* font-size: 6.8vh; */
    font-size: 6vh;
    /* background: linear-gradient(to bottom, #fbff01, rgb(255, 117, 4)); */
    background: linear-gradient(to bottom, #00529f, rgb(0, 146, 191));
    /* border: #006dd4 solid 0.6vh; */
    /* background-image: url("./media\ assets/topnotif.png"); */
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
    border-radius: 3vh;
    /* backdrop-filter: blur(2px); */
    transition: 500ms;
    z-index: 15;
}

.apppear {
    animation: apprearGently 0.4s ease-in-out;
}

@keyframes apprearGently {
    0% {
        opacity: 0;
        transform: translateY(-5%) scaleX(1.1);
    }

    100% {
        opacity: 1;
        transform: translateY(0%) scaleX(1);
    }
}

.disapppear {
    animation: disapprearGently 0.2s ease-in-out;
}

@keyframes disapprearGently {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.tutorialShow {
    opacity: 1 !important;
}

#L1tutorial1 {
    /* opacity: 0; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-size: 4.5vh; */
    /* display: none; */
}

#crossBtn {
    position: absolute;
    right: 2%;
    top: -10%;
    color: rgb(113, 135, 182);
}

#crossBtn:hover {
    cursor: pointer;
}

.questionContainer {
    position: absolute;
    font-family: 'Chakra Petch', sans-serif;
    top: 50%;
    width: 60%;
    height: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vh;
    background: linear-gradient(to bottom, #00529f6a, rgba(0, 146, 191, 0.406));
    backdrop-filter: blur(25px);

    color: rgb(191, 205, 222);
    padding: 5vh 6vh;
    z-index: 10;
    text-align: center;
    border-radius: 2vh;
    box-shadow: inset 7px 6px 32px rgba(255, 255, 255, 0.31), inset -5px -5px 4px rgba(9, 9, 9, 0.13);
    font-weight: 700;
    display: none;
}

.bolder {
    color: rgb(0, 71, 0);
}

.optionsText {
    position: relative;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
    font-size: 4vh;
    background: linear-gradient(to bottom, #00529f, rgb(0, 146, 191));
    color: #bef1ff;
    padding: 1vh 5vh;
    z-index: 10;
    text-align: center;
    border-radius: 2vh;
    box-shadow: inset 7px 6px 32px rgba(255, 255, 255, 0.31), inset -5px -5px 4px rgba(9, 9, 9, 0.13),
        7px 6px 8px rgba(0, 14, 59, 0.801);
    font-weight: 100;
}

.optionsText:hover {
    cursor: pointer;
    filter: brightness(1.1);
    /* box-shadow: inset 7px 6px 32px rgba(255, 255, 255, 0.31), inset -5px -5px 4px rgba(9, 9, 9, 0.13),
        7px 6px 20px rgba(83, 83, 83, 0.217); */
}


#screenblur {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
    z-index: 10;
}

/* ------------------ MEDIA QUERIES ------------------ */
/* @media only screen and (max-aspect-ratio:16/9) {
    .questionContainer {
        width: 100vw;
        height: 56.25vw;
    }

    .optionsText {
        font-size: 3.99vw;
    }
} */